{% load static %}
{% include 'nav.html' %}

<style>
        .container56 {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border:2px solid;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #007bff;
            transition: color 0.3s;
        }

        a:hover {
            color: #0056b3;
        }

        .create-link {
            display: block;
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            margin-top: 20px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .create-link:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container56">
        <h1>Event List</h1>
        <ul>
            {% for event in events %}
                <li><a href="{% url 'features:event_detail' pk=event.pk %}">{{ event.name }} - {{ event.date }}</a></li>
            {% endfor %}
        </ul>

        {% if user.is_staff %}
        <a class="create-link" href="{% url 'features:event_create' %}">Create New Event</a>
    {% endif %}
    </div>
</body>
</html>
